/* Header */
.header{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #618C83;
    background: #CBD5D3;
}
.header-title{
    font-size: 50px;
}
.header-border{
    width: 50px;
    border-top: 3px solid #618C83;
}
.header-icons{
    margin-top: 100px;
    font-size: 25px;
}
.header-icons i{
    margin-left: 15px;
}
/* End Header */

/* Content */
.content{
    margin-top: 50px;
    padding: 30px;
}
.content .row .col-xl-3 .ct-icon, .ct-text{
    text-align: center;
}
.ct-icon{
    font-size: 30px;
    font-weight: 600;
    color: #44776D;
}
.ct-text{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

/* End Content */